<!DOCTYPE html>
<html>

<head>
    <title>档口管理系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/font-style.css" rel="stylesheet">
    <link href="assets/css/flexslider.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="lib/angular-block-ui/dist/angular-block-ui.min.css" />

    <!-- <link href="assets/css/jquery.numpad.css" rel="stylesheet"> -->
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>

<body ng-app="App">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">档口管理系统</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/api/full-sales.html">上报营业额</a></li>
                    <li><a href="/api/full-history.html">历史账本</a></li>
                    <li><a href="/api/report.html">进货记录</a></li>
                    <li><a href="/api/worklog-report.html">员工记录</a></li>
                    <!-- <li><a href="/api/admin.html">设置</a></li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container body-container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="dash-unit free-grow">
                    <div ng-controller="worklogController">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12 text-center text-padding">
                                <select class="input-sm" ng-model="selection.year" ng-options="year for year in years">
                                </select>
                                <label>年</label>
                                <select class="input-sm" ng-model="selection.month" ng-options="month for month in months">
                                </select>
                                <label>月</label>
                                <button class="btn btn-primary btn-default" ng-click="search()">查看</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-lg-8">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" ng-class="{'active': $index == 0}" ng-repeat="employee in employees"><a href="#{{employee.nickname}}" aria-controls="home" role="tab" data-toggle="tab">{{employee.nickname}}</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" ng-class="{'tab-pane': true, 'active': $index == 0}" ng-repeat="employee in employees" id="{{employee.nickname}}">
                                        <table class="table">
                                            <tr class="header">
                                                <td>日期</td>
                                                <td>档口</td>
                                                <td>工作时间</td>
                                                <td>Action</td>
                                            </tr>
                                            <tr ng-repeat="record in tables[employee.nickname]">
                                                <td>{{record.date | date: 'MM/dd'}}</td>
                                                <td>{{record.outlet.name}} ( {{record.saleRecord.totalincome | currency}} )</td>
                                                <td>{{ employee.worklog === 0.5 ? '半天' : '一天' }}</td>
                                                <td>
                                                  <button class="btn btn-primary btn-xs" ng-click="delete(record, $index)">删除</button>
                                                </td>
                                            </tr>
                                        </table>
                                        <h3>本月总工作天数：{{costTables[employee.nickname] | number: 1}}</h3>
                                        <h3>本月总业绩：{{salesTables[employee.nickname] | number: 2}}</h3>
                                        <h3>本月日平均业绩：{{salesTables[employee.nickname]/costTables[employee.nickname] | number: 2}}</h3>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="lib/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="//code.highcharts.com/highcharts.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <!--<script src="lib/angular-keypad/dist/angular-keypad.js"></script>-->
    <script src="lib/angular-block-ui/dist/angular-block-ui.min.js"></script>
    <script src="js/lb-services.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
